{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block topnav %}
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header" style="width: 100%;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'login' %}">Reset Password</a>
                                                <div class="collapse navbar-collapse ">

                </div>


                    </div>
            </div>

        </nav>
{% endblock %}


{% block content %}
        <div class="col-md-6 col-md-offset-3">
             <div class="card">
        <div class="header">
            <h4 class="title">Enter a new password<br/>
                        <small>It must be atleast 8 charaters long</small>

            </h4>

        </div>
        <div class="margin-bottom-20"></div>

{% if validlink %}
{% if user.is_authenticated or form.errors %}


                    <div role="alert" class="alert alert-danger"> <strong>Sorry, something went wrong. </strong> <ul>
                    {% for key,value in form.errors.items %}
                        {% for error in value %}
                            <li>{% if key == "__all__" %}{% else %}<strong>{{key}}:</strong>{% endif %} {{error}} </li>
                        {% endfor %}
                    {% endfor %}
                    </ul></div>

                   {% endif %}

         <form role="form" method="post" action=".">
           {% csrf_token %}
                {% for field in form %}
                <div class="col-md-5 col-md-push-1"><label for="{{field.name}}">{{field.label}}</label></div>
                <div class="col-md-5 col-md-push-1"><span class="pull-right">{{field}}</span></div>

                {% endfor %}
                <div class="col-md-12">
                    <span class="pull-right" style="margin-right: 40px;" ><button class="btn btn-primary" id="update-quantities-btn" name="update" type="submit">Reset</button></span>
                </div>

         </form>
                         <div class="margin-bottom-5" style="clear: both;"></div>


{% else %}


        <div role="alert" class="alert alert-danger">
             <strong>Something went wrong.</strong>
        </div>

    <p>Password reset unsuccessful
The password reset link was invalid, possibly because it has already been used. <a href="{% url "password_reset" %}">Please request a new password reset</a> .</p>
{% endif %}

</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}





