{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block topnav %}
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header" style="width: 100%;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'login' %}">Reset Password</a>
                                                <div class="collapse navbar-collapse ">

                </div>


                    </div>
            </div>

        </nav>
{% endblock %}


{% block content %}
        <div class="col-md-6 col-md-offset-3">
             <div class="card">
        <div class="header">
            <h4 class="title" style="color: darkgreen">Your password was reset<br/>
                        <small>Log in using the form below</small>

            </h4>

        </div>
        <div class="margin-bottom-20"></div>



                    <form role="form" class="col-md-12" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                           <label>Username</label> <input type="username" class="form-control " id="id_username" name="username" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                              <label>Password</label>
                            <input type="password" class="form-control  form-control-lg" id="id_password" name="password" placeholder="Password">
                        </div>

                        <p class="text-right">
                            <button class="btn btn-primary " type="submit"><i class="ti ti-lock"></i> Sign in</button>
                        </p>
                    </form>


                         <div class="margin-bottom-5" style="clear: both;"></div>




</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}






